/**
 * File that contains all the styles 
 * about the left menu of the admin
 **/

#data_menu {
    float: left;
    /*position: absolute;*/
    width: 220px;
    min-height: 100%;
    height: 100%;
    background-color: #000000;
    margin-top: -10px;
    margin-left: -10px;
}

#data_menu_inside {
    margin-top: 100px;
}

#files_bodys {
    float: left;
    width: 700px;
    margin-left: 150px;
}

.no_text_decoration {
    text-decoration: none;
}

.barra_lateral {
    background-image: url(../img/bt_lateral.jpg);
    width: 220px;
    height: 32px;
    background-repeat: no-repeat;
    border: none;
}

.border_menu {
    border-bottom: 1px solid #FFFFFF;
}

#options_tournament, #options_notifications,
#options_teams, #options_jornadas,
#options_name_jornadas, #options_news,
#options_sports, #options_promotions,#options_eventos, #options_encuestas {
    display: none
}

.float-{ float:left;}




.menu-{ width:200px; height:900px; background:#ecf0f1; border-radius:5px; }

.contenido-menu{ width:810px;} 


.menus-{ height:40px; color:#000; border-radius:10px;}

.menus-:hover{ background:#34495e; color:#fff;}

.menus-texto{ text-decoration:none; cursor:pointer; margin-left:20px; top:10px; position:relative; color:#000; width:198px; font-size:20px; }
.span-top{margin-top:10px;}

.margen-top{ margin-top:10px;}

.fomulario-{ width:800px;  margin-left:10px; color:#ecf0f1; border-radius:5px; border-radius:5px;  border:2px solid #16a085;}

.entrada{ width:280px;border-radius:5px; height:30px;border:2px solid #16a085; color:#16a085; font-size:18px; background-color: rgba(0,0,0,0.1); }


body{ background: url(../img/fondo.png);

.lista-m{ width:250px; height:50px; color:#2c3e50; font-size:18px; }

.fomulario-lista{ width:800px; height:895px;  margin-left:210px; color:#ecf0f1; border-radius:5px; border-radius:5px; margin-top:10px; border:2px solid #16a085;}

